header {
    height: 30vh;
}
#main-row{
    min-height: 60vh;
}
footer {
    height: 10vh
}
.cus-btn {
    cursor: pointer;
    height: 100%;
    width: 100%;
    font-size: 50pt;
    font-weight: 700;
    
}
.computer-pressed-btn {
    box-shadow: inset 0px 0px 30px 10px rgba(10,10,200,.5);
    transform: scale(1.1);
    transition: 800ms;
}
.player-pressed-btn {
    box-shadow: inset 0px 0px 30px 10px rgba(20,200,10,.5);
    transform: scale(1.1);
    transition: 800ms;
}